
.my-footer {
    height: 5rem;
    padding: 1rem;
    /*background-color: rgb(118, 183, 21);*/
    background-color: greenyellow;
    

    margin-top: 2rem;
    text-align: center;
}

.notie-container{
  box-shadow: none;
}

.redText{
  color: red;
  
}

.datepicker{
  z-index:100000;
  
}

/*Index page css*/
.room-image{
  max-width: 50%;
}

h3{
  text-align: center;
}